@import "../../variables.scss";

.button_owner {
  button {
    border: none;
    font-size: 1.5em;
    background-color: rgba($color: $orange, $alpha: 1);
    box-shadow: 0 0 0.25em rgba($color: $orange, $alpha: 0.9);
    width: fit-content;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    color: $base-color;

    &:hover {
      transition: all 0.2s;
      box-shadow: 0 0 0.5em rgba($color: $orange, $alpha: 0.9);
      cursor: pointer;
    }
  }
}
